# Ignorar todo por defecto
*

# No ignorar este archivo
!.gitignore

# Permitir que Git explore carpetas a cualquier nivel de profundidad
!**/

# Permitir archivos de diseño/código (añade aquí .cpp, .h, .ini si los usas en PlatformIO)
!*.v
!*.cpp
!*.h
!platformio.ini
!Makefile
!*.gtkw
!*.bin
!*.hex


# Permitir imágenes y recursos visuales
!*.svg
!*.jpg
!*.png
